.quesetionnaireApp {
  text-align: center;
  margin-top: 5px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.Question{
  margin-top: 5px;
}

.caption{
  font-size: 13px;
}


.questionnaireTableHeading{
  font-family: serif;
  background-color: gainsboro;

}


.questionnaireTable th, .questionnaireTable td{
  padding: 8px;
  border-bottom: 1px solid gray;
  font-size: 18px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


.questionnaireTable tr:nth-child(even){background-color: #f2f2f2;}

.questionnaireTable tr:hover {background-color: #ddd;}

.questionnaireTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}


.BasicInfo{
  width: 50%;
  margin:auto;
}

.radioButton{
  text-align: center;
    padding-right: 0.3em;
}

.checkBoxZero{
  display: none;
}

.jumbotron-paragraph{
  margin-bottom: 15px;
}

.questionnaire-page-heading{
  font-size: 22px;
  font-weight: bold;
}

.threeNotSelectedAlert{
  background-color: lightcoral;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.chart{
  width: 50%;
  height: 50%;
  margin: auto;
}

.tableHeading{
  border:none;
}

.heading{
  padding: 18px;
}

.colorBoxColor{
  margin: 20px;
  padding: 10px;
  padding-bottom: 0%;
  padding-top: 0%;
}

.colorBox{
  text-align: left;
  padding: 5px 0 5px 0;
}

.colorBoxHeader{
    font-weight: bold;
    font-size: 22px;
    padding: 20px 0 20px 0;
    text-align: left;
    margin-left: 20px;
}

.colorBoxContainer{
  margin-left: 35%;
}

.colorBoxName{
  width: 20%;
  display: inline-block;
  margin-right: 20px;
}

.finalResultsTable{
  text-align:left;
  margin-left: 20px;
}

.finalResultHeading{
  text-align : left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
}


.finalResultsTableQuestion{
  padding: 5px 20px 5px 10px;
}

.oddResultTableElement{
  background-color: gainsboro;
}

.evenResultTableElement{
  background-color: white;
}

.resultExplanations{
  margin: 40px 40px 40px 40px;
}

.previousButton{
    margin-bottom: 10px;
    float: left;
    margin-left: 20px;
    font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.previousButton:hover {
  text-decoration: underline;
}

.questionnaireButton{
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.questionnaireButton:hover {
  text-decoration: underline;
}

.questionnaireTableContainer{
  display:flex;
  flex:1;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .questionnaireButton {
    font-size: 30px;
  }
  .display-3{
    font-size: 40px !important; 
  }
  .colorBoxName{
    display: initial;
  }
  .colorBoxContainer{
    margin-left: 0;
  }
}

@media screen and (max-height: 600px) {
  .questionnaireButton {
    font-size: 30px;
  }
  .display-3{
    font-size: 40px !important;
  }
  .colorBoxName{
    display: initial;
  }
  .colorBoxContainer{
    margin-left: 0;
  }
}