.quesetionnaireApp {
  text-align: center;
  margin-top: 5px;
}

.Question{
  margin-top: 5px;
}

.caption{
  font-size: 13px;
}


.tableHeading{
  font-family: serif;
}

.table{
  font-family: serif;
}


.BasicInfo{
  width: 50%;
  margin:auto;
}

.radioButton{
  text-align: center;
    padding-right: 0.3em;
}

.checkBoxZero{
  display: none;
}

.jumbotron-paragraph{
  margin-bottom: 15px;
}

.questionnaire-page-heading{
  font-size: 22px;
  font-weight: bold;
}

.threeNotSelectedAlert{
  background-color: lightcoral;
  padding-top: 5px;
  padding-bottom: 5px;
}

.chart{
  width: 50%;
  height: 50%;
  margin: auto;
}

.tableHeading{
  border:none;
}

.heading{
  padding: 18px;
}

.colorBoxColor{
  margin: 20px;
  padding: 10px;
  padding-bottom: 0%;
  padding-top: 0%;
}

.colorBox{
  text-align: left;
  padding: 5px 0 5px 0;
}

.colorBoxHeader{
    font-weight: bold;
    font-size: 22px;
    padding: 20px 0 20px 0;
    text-align: left;
    margin-left: 20px;
}

.colorBoxContainer{
  margin-left: 35%;
}

.colorBoxName{
  width: 20%;
  display: inline-block;
  margin-right: 20px;
}

.finalResultsTable{
  text-align:left;
  margin-left: 20px;
}

.finalResultHeading{
  text-align : left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
}


.finalResultsTableQuestion{
  padding: 5px 20px 5px 10px;
}

.oddResultTableElement{
  background-color: gainsboro;
}

.evenResultTableElement{
  background-color: white;
}

.resultExplanations{
  margin: 40px 40px 40px 40px;
}

.previousButton{
    margin-bottom: 10px;
    float: left;
    margin-left: 20px;
    font-size: 16px;
}

.questionnaireButton{
  font-size: 16px;
}